/*
背景样式
 */
/*
第一屏开始
 */
.item-1{
	background:#fadd67 url(../images/t1fpyqfltdxxaiulhh-990-600.png) no-repeat center bottom;
}
.first{
	position: absolute;
	top: 20%;
	right: 20%;
}
.shirt{
	position: absolute;
	top: 48%;
	right: 54%;
}
.shirtcenter{
	position:absolute;
	left: 50%;
	top: 55%;
	margin-left: -412px;
}
/*
第一屏结束
 */


/*
第二屏开始
 */
.item-2{
	background:#84a2d4 url(../images/t1zdgpfi8exxca6rfn-2000-600.png) no-repeat center bottom;
	z-index: 2;
}
.secondpage{
	width: 1000px;
	height: 500px;
	/*background:rgba(0, 0, 0, 0.3);*/
	position:absolute;
	left:50%;
	bottom:0;
	transform: translateX(-50%);/*margin-left:-400px;*/
}
.search{
	height:45px;
	width: 222px;
	background:url(../images/search.png) no-repeat;
	position:absolute;
	right: -30px;
	bottom:280px;
	display:none;
}
.src{
	position:absolute;
	top: 3px;
	right: 30px;
	opacity:0;
}
.search-02-1{
	position:absolute;
	right:370px;
	bottom:280px;
	display:none;
}
.goods{
	height: 100px;
	position:absolute;
	right:280px;
	bottom: 210px;
	display:none;
}
.words,.words02{
	position:absolute;
	left: 50%;
	bottom:540px;
	transform:translateX(-50%);
}
.words02{
	opacity: 0;
}
.words{
	opacity: 1;
}

.second-shird{
	height: 83px;
	position: absolute;
	left:392px;
	bottom: 338px;
	z-index: 5;
	display: none;
}
.covs{
	width: 105px;
	height: 99px;
	position: absolute;
	left:392px;
	bottom: 326px;
	background-color: #fff;
	display: none;
}
/*
第二屏结束
 */



/*
第三屏开始
 */
.item-3{
	background-color : #ef674d;
}
.thirdpage{
	
	height: 600px;
	width: 1000px;
	position:absolute;
	left:50%;
	transform:translateX(-50%);
	bottom: 50px;
	/*background-color: rgba(0,0,0,0.3);*/
}
.main{
	background:url(../images/main.png) no-repeat center center;
	width: 990px;
	height: 600px;
}
.shirtimg{
	position:absolute;
	left:260px;
	bottom: 230px;
}
.shirt-right{
	width: 296px;
	height: 240px;
	position:absolute;
	bottom:50px;
	right:170px;
}
.img-01,.img-01-a{
	position:absolute;
	top: 0;
	left:0;
}
.img-01-a{
	opacity: 0;

}
.btn-01,.btn-01-a{
	position:absolute;
	bottom: 0;
	left:0;
}
.btn-01-a{
	opacity: 0;
}
/*
第三屏结束
 */







/*
动画部分
 */
.fly{
	animation:fly 3s linear infinite;
}
.shirtfly{
	animation:shirtfly 2s linear infinite;
}
@keyframes fly{
	50%{top: 35%;}
	100%{top: 20%;}
}
@keyframes shirtfly{
	50%{top: 50%;}
	100%{top: 48%;}
}